<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.library.bean.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.library.bean.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.library.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdduserBysuper</display-name>
    <servlet-name>AdduserBysuper</servlet-name>
    <servlet-class>com.library.servlet.AdduserBysuper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdduserBysuper</servlet-name>
    <url-pattern>/AdduserBysuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteuserBysuper</display-name>
    <servlet-name>DeleteuserBysuper</servlet-name>
    <servlet-class>com.library.servlet.DeleteuserBysuper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteuserBysuper</servlet-name>
    <url-pattern>/DeleteuserBysuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwd</display-name>
    <servlet-name>UpdatePwd</servlet-name>
    <servlet-class>com.library.servlet.UpdatePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwd</servlet-name>
    <url-pattern>/UpdatePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireMy</display-name>
    <servlet-name>InquireMy</servlet-name>
    <servlet-class>com.library.servlet.InquireMy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireMy</servlet-name>
    <url-pattern>/InquireMy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireAllusers</display-name>
    <servlet-name>InquireAllusers</servlet-name>
    <servlet-class>com.library.servlet.InquireAllusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireAllusers</servlet-name>
    <url-pattern>/InquireAllusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Books_Into_store</display-name>
    <servlet-name>Books_Into_store</servlet-name>
    <servlet-class>com.library.servlet.Books_Into_store</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books_Into_store</servlet-name>
    <url-pattern>/Books_Into_store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletebooks</display-name>
    <servlet-name>Deletebooks</servlet-name>
    <servlet-class>com.library.servlet.Deletebooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletebooks</servlet-name>
    <url-pattern>/Deletebooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireBooksBy_type</display-name>
    <servlet-name>InquireBooksBy_type</servlet-name>
    <servlet-class>com.library.servlet.InquireBooksBy_type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireBooksBy_type</servlet-name>
    <url-pattern>/InquireBooksBy_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireBooksByname</display-name>
    <servlet-name>InquireBooksByname</servlet-name>
    <servlet-class>com.library.servlet.InquireBooksByname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireBooksByname</servlet-name>
    <url-pattern>/InquireBooksByname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create_libcard</display-name>
    <servlet-name>Create_libcard</servlet-name>
    <servlet-class>com.library.servlet.Create_libcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_libcard</servlet-name>
    <url-pattern>/Create_libcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_libcard</display-name>
    <servlet-name>Delete_libcard</servlet-name>
    <servlet-class>com.library.servlet.Delete_libcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_libcard</servlet-name>
    <url-pattern>/Delete_libcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_libcard</display-name>
    <servlet-name>Update_libcard</servlet-name>
    <servlet-class>com.library.servlet.Update_libcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_libcard</servlet-name>
    <url-pattern>/Update_libcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireLibcard</display-name>
    <servlet-name>InquireLibcard</servlet-name>
    <servlet-class>com.library.servlet.InquireLibcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireLibcard</servlet-name>
    <url-pattern>/InquireLibcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBooks</display-name>
    <servlet-name>BorrowBooks</servlet-name>
    <servlet-class>com.library.servlet.BorrowBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBooks</servlet-name>
    <url-pattern>/BorrowBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBooks</display-name>
    <servlet-name>ReturnBooks</servlet-name>
    <servlet-class>com.library.servlet.ReturnBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBooks</servlet-name>
    <url-pattern>/ReturnBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowAgain</display-name>
    <servlet-name>BorrowAgain</servlet-name>
    <servlet-class>com.library.servlet.BorrowAgain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowAgain</servlet-name>
    <url-pattern>/BorrowAgain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBorrowInfo</display-name>
    <servlet-name>DeleteBorrowInfo</servlet-name>
    <servlet-class>com.library.servlet.DeleteBorrowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBorrowInfo</servlet-name>
    <url-pattern>/DeleteBorrowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireAllBorrow</display-name>
    <servlet-name>InquireAllBorrow</servlet-name>
    <servlet-class>com.library.servlet.InquireAllBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireAllBorrow</servlet-name>
    <url-pattern>/InquireAllBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Increase_Scrap</display-name>
    <servlet-name>Increase_Scrap</servlet-name>
    <servlet-class>com.library.servlet.Increase_Scrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Increase_Scrap</servlet-name>
    <url-pattern>/Increase_Scrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteScrap</display-name>
    <servlet-name>deleteScrap</servlet-name>
    <servlet-class>com.library.servlet.deleteScrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteScrap</servlet-name>
    <url-pattern>/deleteScrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireScrap</display-name>
    <servlet-name>InquireScrap</servlet-name>
    <servlet-class>com.library.servlet.InquireScrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireScrap</servlet-name>
    <url-pattern>/InquireScrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateScrap</display-name>
    <servlet-name>UpdateScrap</servlet-name>
    <servlet-class>com.library.servlet.UpdateScrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScrap</servlet-name>
    <url-pattern>/UpdateScrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuperUser</display-name>
    <servlet-name>IssuperUser</servlet-name>
    <servlet-class>com.library.servlet.IssuperUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuperUser</servlet-name>
    <url-pattern>/IssuperUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YanzhengUsername</display-name>
    <servlet-name>YanzhengUsername</servlet-name>
    <servlet-class>com.library.servlet.YanzhengUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YanzhengUsername</servlet-name>
    <url-pattern>/YanzhengUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireBy</display-name>
    <servlet-name>InquireBy</servlet-name>
    <servlet-class>com.library.servlet.InquireBy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireBy</servlet-name>
    <url-pattern>/InquireBy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfo</display-name>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>com.library.servlet.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireAllcards</display-name>
    <servlet-name>InquireAllcards</servlet-name>
    <servlet-class>com.library.servlet.InquireAllcards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireAllcards</servlet-name>
    <url-pattern>/InquireAllcards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquireAllbooks</display-name>
    <servlet-name>InquireAllbooks</servlet-name>
    <servlet-class>com.library.servlet.InquireAllbooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquireAllbooks</servlet-name>
    <url-pattern>/InquireAllbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.library.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jie_Huan_Shu</display-name>
    <servlet-name>Jie_Huan_Shu</servlet-name>
    <servlet-class>com.library.servlet.Jie_Huan_Shu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jie_Huan_Shu</servlet-name>
    <url-pattern>/Jie_Huan_Shu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibcardManage</display-name>
    <servlet-name>LibcardManage</servlet-name>
    <servlet-class>com.library.servlet.LibcardManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibcardManage</servlet-name>
    <url-pattern>/LibcardManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManage</display-name>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.library.servlet.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statistics</display-name>
    <servlet-name>Statistics</servlet-name>
    <servlet-class>com.library.servlet.Statistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statistics</servlet-name>
    <url-pattern>/Statistics</url-pattern>
  </servlet-mapping>
</web-app>